h1 {
  text-align: center;
}

div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 15%;
}

button {
  font-size: medium;
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}